@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(0px);
    }
    10% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}

.animate-shift {
    animation: fadeIn 2.1s infinite;
}
