.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log

# Generated Apps & Zips
*.pyc
build/**/*
!build/.gitkeep

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Associated packages maintained in separate repositories
!packages/.gitkeep
packages/web
packages/codotype-api
packages/codotype-cli
packages/codotype-blueprints

# Generators
packages/codotype-express-vue-fullstack-generator
packages/codotype-generator-nuxt
packages/codotype-hackathon-starter
packages/codotype-mongodb-dataworker
packages/codotype-nodejs-express-mongodb-generator
packages/codotype-postman-collection-generator
packages/codotype-python-falcon-mongodb-generator
packages/codotype-react-generator
packages/codotype-vue-fullstack-node-generator
packages/codotype-vuejs-vuex-bootstrap-generator
packages/codotype-vuejs-vuex-onsenui-generator
