@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Start updating things one component at a time */

/* Modal Footer */
.modal-footer-tw {
    @apply p-3;
    @apply flex;
    @apply justify-end;
    @apply items-center;
    @apply border-t;
    @apply bg-gray-200;
    @apply border-gray-300;
    @apply rounded-bl-lg;
    @apply rounded-br-lg;
}

.card {
    @apply bg-white;
    @apply rounded-2xl;
    @apply border;
    @apply relative;
    @apply flex;
    @apply flex-col;
    @apply break-words;
    @apply bg-clip-padding;
    @apply border-gray-200;
}

.card-body {
    @apply p-5;
}

code {
    @apply text-orange-400;
}

/* NOTE - only used in one place, replace with updated CSS soon */
small {
    @apply text-sm;
    @apply font-normal;
}

hr {
    @apply border-t;
    @apply border-gray-400;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.lead {
    @apply text-lg;
    @apply font-light;
}

.badge {
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @apply mx-2;
    @apply py-1;
    @apply text-sm;
    @apply font-medium;
    @apply rounded;
}

.list-group-item {
    @apply relative;
    @apply block;
    @apply px-4;
    @apply py-4;
    @apply text-gray-600;
    @apply no-underline;
    @apply bg-white;
    @apply border;
    @apply border-gray-400;
    @apply border-t-0;
}

.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    @apply border-t;
}

.list-group-item:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.list-group-item.active {
    z-index: 2;
    @apply text-white;
    @apply bg-blue-500;
    @apply border-blue-400;
}

/* BTN */
.btn {
    display: inline-block;
    @apply font-medium;
    @apply text-gray-800;
    @apply no-underline;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    @apply border;
    @apply py-2;
    @apply px-2;
    /* @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius); */
    /* @include transition($btn-transition); */

    /* @include hover() {
      color: $body-color;
      text-decoration: none;
    }
  
    &:focus,
    &.focus {
      outline: 0;
      box-shadow: $btn-focus-box-shadow;
    }
  
    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
      opacity: $btn-disabled-opacity;
      @include box-shadow(none);
    }
  
    &:not(:disabled):not(.disabled) {
      cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
  
      &:active,
      &.active {
        @include box-shadow($btn-active-box-shadow);
  
        &:focus {
          @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
        }
      }
    } */
}
