// // // //
// GenerateCodeButton Styles
@import "../../../../ui/src/sass/vendor.sass";

button.btn-yellow {
    @include button-variant(#ffd700, #ffd700);
}

// TODO - this should be a :local() module
li.list-group-item {
    cursor: pointer;
    border-left: 6px solid $gray-500 !important;
    &.selected {
        border-left: 6px solid #4582ec !important;
        font-weight: bold;
    }
}

// a.row.align-items-center
//   text-decoration: none
